---
import Button from "@/components/input/Button.astro";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import Terminal from "@/components/Terminal.svelte";
import PlayersCount from "@/components/PlayersCount.svelte";

import HomeImage1 from "@/assets/images/home-1.png";
import HomeImage2 from "@/assets/images/home-2.png";
import HomeImage3 from "@/assets/images/home-3.png";
import SoftwarePreview, { SoftwarePreviewType } from "@/components/data/SoftwarePreview.astro";
---

<Layout
  title="Home"
  description={"PaperMC is a Minecraft software organization focusing on improving the game’s ecosystem with faster and more secure software."}
  keywords={["papermc", "paper", "velocity", "minecraft", "performance"]}
  canonical="/"
>
  <header class="mx-auto flex max-w-7xl flex-row px-4 pt-32 pb-26 lg:pt-44 lg:pb-38">
    <div class="flex-1">
      <h1 class="text-4xl leading-normal font-medium lg:text-5xl lg:leading-normal">
        Modern software. <br />
        <span class="text-blue-500">Built to perform.</span>
      </h1>
      <p class="mt-4 text-xl">
        PaperMC improves Minecraft&apos;s ecosystem with fast, secure software and an expanding plugin API, providing quick releases and
        helpful support as the most widely used, performant, and stable software available.
      </p>
      <div class="mt-8 flex flex-row gap-4">
        <Button variant="filled" href="/downloads"> Downloads </Button>
        <Button variant="outlined" href="https://docs.papermc.io" external> Documentation </Button>
      </div>
    </div>
    <div class="hidden flex-1 justify-end lg:flex">
      <Terminal client:load="svelte" />
    </div>
  </header>
  <section id="software" class="bg-background-light-0 dark:bg-background-dark-80 w-full border-y pt-12 pb-8">
    <div class="mx-auto max-w-7xl">
      <h2 class="mb-4 px-6 text-xl font-semibold md:text-2xl lg:px-4">
        Your server deserves the
        <span class="text-blue-500">best.</span>
      </h2>
      <div class="grid gap-2 px-2 md:grid-cols-3 xl:gap-4">
        <SoftwarePreview
          id="paper"
          name="Paper"
          icon="brand/paper"
          type={SoftwarePreviewType.Info}
          description="Paper is a Minecraft game server based on Spigot, designed to greatly improve performance and offer more advanced features and API."
        />
        <SoftwarePreview
          id="velocity"
          name="Velocity"
          icon="brand/velocity"
          type={SoftwarePreviewType.Info}
          description="Velocity is a high-performance, scalable Minecraft proxy server that allows players to connect to multiple Minecraft servers under the proxy."
        />
        <SoftwarePreview
          id="folia"
          name="Folia"
          icon="brand/folia"
          type={SoftwarePreviewType.Info}
          description="Folia is a new fork of Paper that adds regionized multithreading to the server allowing for better performance and scalability."
        />
      </div>
    </div>
  </section>
  <section id="facts" class="mx-auto flex max-w-7xl flex-col gap-8 px-4 py-8 md:gap-12 md:py-14">
    <div class="flex flex-col items-center gap-6 md:flex-row-reverse md:gap-8 xl:gap-24">
      <div class="relative aspect-video w-full flex-1 overflow-clip rounded-xl bg-gray-900">
        <Image alt="" src={HomeImage3} class="h-full w-full object-cover" layout="none" />
      </div>
      <div class="flex-1">
        <h2 class="text-2xl font-semibold md:text-4xl">A diverse plugin ecosystem</h2>
        <p class="mt-3 text-gray-900 md:mt-6 md:text-xl dark:text-gray-100">
          Crafted by the PaperMC team & contributors, Hangar is our own dedicated plugin repository, now in open beta! A place for
          developers to host their creations, and server owners to enrich their player&apos;s gameplay. From Administration Tools, to
          Minigames, you&apos;ll find it all on Hangar.
        </p>
        <div class="mt-8 flex flex-row gap-4">
          <Button variant="filled" href="https://hangar.papermc.io/" external> Check out Hangar </Button>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center gap-6 md:flex-row md:gap-8 xl:gap-24">
      <div class="relative aspect-video w-full flex-1 overflow-clip rounded-xl bg-gray-900">
        <Image alt="" src={HomeImage1} class="h-full w-full object-cover" />
      </div>
      <div class="flex-1">
        <h2 class="text-2xl font-semibold break-all md:text-4xl">
          Powering
          <PlayersCount client:load="svelte" ttlMs={12 * 60 * 1000} />
          players
        </h2>
        <p class="mt-3 text-gray-900 md:mt-6 md:text-xl dark:text-gray-100">
          PaperMC&apos;s software powers hundreds of thousands of Minecraft servers on a daily basis, from small single-servers setups to
          massive Minecraft server networks. Designed with utility and performance in mind, it can handle whatever you throw at it.
        </p>
      </div>
    </div>
    <div class="flex flex-col items-center gap-6 md:flex-row-reverse md:gap-8 xl:gap-24">
      <div class="relative aspect-video w-full flex-1 overflow-clip rounded-xl bg-gray-900">
        <Image alt="" src={HomeImage2} class="h-full w-full object-cover" />
      </div>
      <div class="flex-1">
        <h2 class="text-2xl font-semibold md:text-4xl">The promise of stability</h2>
        <p class="mt-3 text-gray-900 md:mt-6 md:text-xl dark:text-gray-100">
          Our software is designed with security and stability in mind. We have consistently been among the first to fix vulnerabilities in
          the Minecraft space for years, so you can rest assured that PaperMC software is a good choice.
        </p>
      </div>
    </div>
  </section>
</Layout>
