---
interface Props {
  summary: string;
  project: string;
  highlightClass: string;
}

const { summary, project, highlightClass } = Astro.props;

const highlightIssues = ({ summary, project, highlightClass }: Props) => {
  return summary
    .split(/([^&])(#[0-9]+)/gm)
    .map((part: string, i: number) => {
      if (!part.match(/#[0-9]+/)) {
        return part;
      }

      return `<a
        key="${i}"
        class="${highlightClass}"
        href="https://github.com/PaperMC/${project}/issues/${part.slice(1)}"
        target="_blank"
        rel="noreferrer"
      >
        ${part}
      </a>`;
    })
    .join("");
};
---

<span set:html={highlightIssues({ summary, project, highlightClass })} />
