---
import { Icon } from "astro-icon/components";

export interface Props {
  icon: string;
  label: string;
  href?: string;
  external?: boolean;
  className?: string;
}

const { icon, label, href, className } = Astro.props;
---

{
  href ? (
    <a
      href={href}
      rel="noreferrer"
      target="_blank"
      class={`inline-block h-min w-min rounded-full p-2 leading-0 transition-colors hover:bg-gray-800/20 dark:hover:bg-gray-400/20 ${className}`}
      aria-label={label}
    >
      <Icon name={icon} class="size-6 text-gray-700 dark:text-gray-300" aria-hidden="true" />
    </a>
  ) : (
    <button class={`h-min w-min rounded-full p-2 transition-colors hover:bg-gray-800/20 ${className}`} aria-label={label}>
      <img src={icon} class="gray-700 h-6 w-6" alt="" />
    </button>
  )
}
